:root {
    --320px: 20rem;
    --480px: 30rem;
    --600px: 37.5rem;
    --768px: 48rem;
    --900px: 56.25rem;
    --1024px: 64rem;
    --1200px: 75rem;
    --1366px: 85.375rem;
    --1440px: 90rem;
    --1600px: 100rem;
    --1920px: 120rem;
    --2560px: 160rem;
  }

  :root {
    --10px: 0.625rem;
    --12px: 0.75rem;
    --14px: 0.875rem;
    --16px: 1rem;
    --18px: 1.125rem;
    --20px: 1.25rem;
    --22px: 1.375rem;
    --24px: 1.5rem;
    --26px: 1.625rem;
    --28px: 1.75rem;
    --30px: 1.875rem;
    --32px: 2rem;
    --34px: 2.125rem;
    --36px: 2.25rem;
    --38px: 2.375rem;
    --40px: 2.5rem;
    --42px: 2.625rem;
    --44px: 2.75rem;
    --46px: 2.875rem;
    --48px: 3rem;
    --50px: 3.125rem;
    --52px: 3.25rem;
    --54px: 3.375rem;
    --56px: 3.5rem;
    --58px: 3.625rem;
    --60px: 3.75rem;
    --62px: 3.875rem;
    --64px: 4rem;
    --66px: 4.125rem;
    --68px: 4.25rem;
    --70px: 4.375rem;
    --72px: 4.5rem;
    --74px: 4.625rem;
    --76px: 4.75rem;
    --78px: 4.875rem;
    --80px: 5rem;
    --82px: 5.125rem;
    --84px: 5.25rem;
    --86px: 5.375rem;
    --88px: 5.5rem;
    --90px: 5.625rem;
    --92px: 5.75rem;
    --94px: 5.875rem;
    --96px: 6rem;
    --98px: 6.125rem;
    --100px: 6.25rem;
    --102px: 6.375rem;
    --104px: 6.5rem;
    --106px: 6.625rem;
    --108px: 6.75rem;
    --110px: 6.875rem;
    --112px: 7rem;
    --114px: 7.125rem;
    --116px: 7.25rem;
    --118px: 7.375rem;
    --120px: 7.5rem;
    --122px: 7.625rem;
    --124px: 7.75rem;
    --126px: 7.875rem;
    --128px: 8rem;
    --130px: 8.125rem;
    --132px: 8.25rem;
    --134px: 8.375rem;
    --136px: 8.5rem;
    --138px: 8.625rem;
    --140px: 8.75rem;
    --142px: 8.875rem;
    --144px: 9rem;
    --146px: 9.125rem;
    --148px: 9.25rem;
    --150px: 9.375rem;
    --152px: 9.5rem;
    --154px: 9.625rem;
    --156px: 9.75rem;
    --158px: 9.875rem;
    --160px: 10rem;
    --162px: 10.125rem;
    --164px: 10.25rem;
    --166px: 10.375rem;
    --168px: 10.5rem;
    --170px: 10.625rem;
    --172px: 10.75rem;
    --174px: 10.875rem;
    --176px: 11rem;
    --178px: 11.125rem;
    --180px: 11.25rem;
    --182px: 11.375rem;
    --184px: 11.5rem;
    --186px: 11.625rem;
    --188px: 11.75rem;
    --190px: 11.875rem;
    --192px: 12rem;
    --194px: 12.125rem;
    --196px: 12.25rem;
    --198px: 12.375rem;
    --200px: 12.5rem;
  }
  