@import "node_modules/modern-normalize/modern-normalize.css";
@import "preflight.css";

/* Color Vars */
:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
	--nav-text-color: #fff;
	--nav-logo-color: #fff;
	--nav-bg-color: transparent;
	--light: #f6ebff;
	--deep-purple: #4528f9;
	--light-purple: #9489da;
	--pink: #af17f4;
	--grayscale: 1;
	--gray: #efefef;
	--dark-gradient: #141322;
	--medium-gradient: var(--pink);
	--light-gradient: var(--deep-purple);
	--fill: #442ed0;
	--light-fill: #4388e0;
	--shifty: #6949e9;
}
/* Spec Vars */
:root {
	--max-page-width: 1366px;
	--nav-position: fixed;
	--top: 0px;
	--main-pad: 0px 75px;
	--section-pad: 95px 0px;
	--border-radius: 25px;
	--nav-height: 95px;
	--transition: 0.3s;
	--opacity: 0.4;
	--mix-mode: none;
	--hero-zindex: 9;
	--visibility: "visible";
}

:focus-visible {
	outline: -webkit-focus-ring-color auto 0px;
}

html {
	background: #000000;
	overflow-x: hidden;
}

@media (max-width: 560px) {
	:root {
		--main-pad: 0px 20px;
	}
}

body {
}
header {
	position: relative;
	display: flex;
	justify-content: center;
}

section {
	position: relative;
	height: 100vh;
}

h1 {
	color: #fff;
	font-size: clamp(1.5rem, 4vw, 4rem);
	/* line-height: clamp(34px, 52px, 73px); */
	font-weight: 400;
	text-transform: capitalize;
}

h2 {
	font-size: 7rem;
	font-weight: 600;
}

h4 {
	color: #fff;
	font-size: 1.15rem;
	line-height: 31px;
	font-weight: 400;
}

h5 {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 18px;
	line-height: 1.5em;
	font-weight: 700;
	letter-spacing: 1.5px;
	text-transform: uppercase;
}

@keyframes exit {
	0% {
		transform: translateX(0px);
	}
	100% {
		transform: translateX(-400px);
	}
}

@keyframes pushexit {
	0% {
		transform: translateX(0px);
	}
	100% {
		transform: translateX(400px);
	}
}

@keyframes tapscreen {
	0% {
		transform: scale(1);
	}
	2% {
		transform: scale(0.8);
	}
	4% {
		transform: scale(1.1);
	}
	6% {
		transform: scale(0.9);
	}
	8% {
		transform: scale(1);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
