@import "node_modules/modern-normalize/modern-normalize.css";
@import "preflight.css";
@import "reduced-motion.css";
@import "conversion.css";

/* Color Vars */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --nav-text-color: #fff;
  --nav-logo-color: #fff;
  --nav-bg-color: transparent;
  --ligh-purple: #f6ebff;
  --deep-purple: #4528f9;
  --light-purple: #9489da;
  --pink: #af17f4;
  --gray: #efefef;
  --dark-gradient: #141322;
  --medium-gradient: var(--pink);
  --light-gradient: var(--deep-purple);
  --fill: #442ed0;
  --light-fill: #4388e0;
  --shifty: #6949e9;
  --hot-pink: #fe00b9;
  --glass: #ffffff12;

  --light: #ffffff;
  --dark: #101010;
}
/* Spec Vars */
:root {
  --max-page-width: var(--1366px);
  --nav-position: fixed;
  --top: 0px;
  --main-pad: 0px 75px;
  --section-pad: 95px 0px;
  --border-radius: 6cqh;
  --nav-height: var(--96px);
  --transition: 0.3s;
  --opacity: 0.4;
  --mix-mode: none;
  --hero-zindex: 9;
  --visibility: "visible";
  --test-speed: 0.5s;
  --scroll-lock: none;
  --section-top: 150px;
  --display: flex;
}

:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
}

html {
  background: #000000;
  overflow-x: hidden;
}

body {
  position: var(--scroll-lock);
}

main {
  & > section {
    overflow: hidden;
    @media (max-width: 1365px) {
      padding: 0px 20px !important;
    }
  }
}

footer {
  overflow: hidden;
}
article {
  // transition: 1.5s;
  position: relative;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;

  & > header,
  & > section:first-of-type {
    max-width: var(--max-page-width);
    width: 100%;
  }

  & > header {
    margin: var(--40px) 0rem;
  }
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

h1 {
  color: #fff;
  font-size: clamp(1.5rem, 4vw, 4rem);
  line-height: clamp(1.5rem, 4vw, 4rem);
  font-weight: 400;
  text-transform: capitalize;
}

h2 {
  font-size: 4rem;
  line-height: 3.8rem;
  font-weight: 600;
}

h3 {
  color: #fff;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.8rem;
}

h4 {
  color: #fff;
  font-size: 1.15rem;
  line-height: 1.1rem;
  font-weight: 400;
}

.pre_headline {
  margin-top: 0px;
  font-size: var(--18px);
  line-height: 1.5em;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-align: center;
  color: #fff !important;
  margin-bottom: var(--30px);
  border-bottom: 4px solid var(--pink);
  padding-bottom: var(--10px);
}

.btn {
  --height: var(--44px);
  min-width: calc(var(--height) * 2);
  height: var(--height);
  border-radius: calc(var(--height) * 0.5);
  padding: 0 var(--30px);
  margin: 0 var(--10px);
  text-transform: uppercase;
  font-weight: 700;
  background-color: var(--pink);
  color: #fff;
  user-select: none;
  cursor: pointer;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition);
  &:hover {
    filter: drop-shadow(0px 0px 20px var(--pink));
    background: #fff;
    color: var(--pink);
  }
}
textarea {
  --height: 80px;
}

input[type="text"],
input[type="phone"],
input[type="email"],
select,
textarea {
  --height: 44px;
  height: var(--height);
  border-radius: calc(var(--height) * 0.5) !important;
  padding: 0 20px;
}
input[type="submit"],
button[type="submit"] {
  --height: 44px;
  min-width: calc(var(--height) * 2); /* 2x height */
  height: var(--height);
  border-radius: calc(var(--height) * 0.5); /* 50% of height */
  padding: 0 30px;
  margin: 0 10px;
  text-transform: uppercase;
  font-weight: 700;
  background-color: var(--pink);
  color: #fff;
}
