@mixin height($height) {
	height: #{$height}px;
	border-radius: calc(#{$height}px * 0.5); /* 50% of height */
}

@mixin section_guts {
	max-width: var(--max-page-width);
	@media (max-width: 1400px) {
		padding: var(--main-pad);
	}
	margin: 0 auto;
	height: 100vh;
}

@mixin main_grids {
	position: relative;
	display: grid;
	align-self: center;
}
