@mixin height($height) {
	height: #{$height}px;
	border-radius: calc(#{$height}px * 0.5); /* 50% of height */
}

@mixin section_guts {
	&_inner {
		max-width: var(--max-page-width);
		margin: 0 auto;
	}
}

@mixin test {
	@media (prefers-reduced-motion: no-preference) {
		scale: 0.6;
		opacity: 0;
		animation: test linear forwards;
		animation-timeline: view();
		transform-origin: left;
		animation-range: 250px 500px;
		@keyframes test {
			to {
				scale: 1;
				opacity: 1;
			}
		}
	}
}
