@import "./mixins/mixins.scss";

.about {
    position: relative;
    &:before {
        content: "";
        position: absolute;
        width: 100vw;
        height: 20px;
        top: -20px;
    }
    // background-color: var(--gray);
    // background: linear-gradient(180deg, rgba(230, 238, 255, 1) 0%, rgba(246, 235, 255, 1) 100%);
    //background: linear-gradient(180deg, #3f28f9 0%, rgb(246, 235, 255) 125%);
    background: linear-gradient(180deg, #3f28f9 0%, #1b0131 125%);

    svg {
        position: absolute;
        z-index: 0;
        opacity: var(--opacity);
        bottom: 0;
    }
    &_inner {
        @include section_guts;
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, max-content);
        place-content: center;
        gap: 20px 40px;
        z-index: 10;

        h5 {
            grid-row: 1;
            grid-column: 2;
            // color: var(--pink);
            color: #c13dfd;
        }

        h1 {
            grid-row: 2;
            grid-column: 2;
            color: #fff !important;
        }

        h4 {
            grid-row: 3;
            grid-column: 2;
            color: #fff !important;
        }
    }
}
