.about {
  header {
    flex-direction: column;
  }

  &_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff12;
    padding: var(--40px);
    border-radius:var(--border-radius);
    width: 100%;
    @media (max-width: 75rem) {
      flex-direction: column;
    }

    &_left {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      .aboard {
      }
    }

    &_right {
      width: 50%;
      .quote {
        text-align: justify;
        padding: var(--40px);
        margin: 0 var(--20px);
        grid-column: 5/9;
        grid-row: 3;

        &_title {
          font-size: 6rem;
          font-weight: 600;
          position: relative;
          // left: var(--10px);
        }
        &_pronun {
          font-size: 2rem;
          margin: var(--10px) 0px;
        }
        &_list {
          font-size: 1.2rem;
          max-width: 65ch;
          & > li {
            position: relative;
            margin-left: var(--28) px;
            &:first-of-type p:before {
              content: "01";
              position: absolute;
              left: -32px;
              font-weight: 600;
            }
            &:last-of-type p:before {
              content: "02";
              position: absolute;
              left: -32px;
              font-weight: 600;
            }
          }
          em {
            display: inline-block;
            margin: 5px 0px 10px 0px;
            font-weight: 300;
          }
        }
      }
    }
  }
}
