@import "./mixins/mixins.scss";

.quirk {
	fill: #000;
	width: 200px;
}
div.nextjs_image_wrapper {
	position: absolute !important;
	left: -311px;
	bottom: -178px;
	grid-column: unset !important;
	img {
		filter: drop-shadow(0px 0px 39px #00000055);
	}
}

.about {
	@include section_guts;
	position: relative;
	background-color: var(--gray);
	color: #000;
	//animation: translate linear;
	//animation-timeline: scroll(root block);
	z-index: 9;
	overflow: hidden;
	&_inner {
		display: grid;
		//grid-template-columns: repeat(8, 1fr);
		//grid-template-rows: repeat(8, calc(1366px / 8));
		color: inherit;
		* {
			color: inherit;
		}
		& > div {
			cursor: pointer;
			height: max-content;
			position: relative;
			grid-column: 6 / span 2;
			&:before {
				transition: 0.5s;
				position: absolute;
				font-weight: 800;
				font-size: 2rem;
				left: -50px;
			}
		}

		.quote {
			margin: 0 20px;
			grid-column: 5/9;
			grid-row: 3;
			animation: pushin linear;
			animation-timeline: scroll(root);
			&_title {
				font-size: 6rem;
				font-weight: 600;
				position: relative;
				left: -10px;
			}
			&_pronun {
				font-size: 2rem;
				margin: 10px 0px;
			}
			&_list {
				font-size: 1.2rem;
				max-width: 500px;
				& > li {
					position: relative;
					margin-left: 27px;
					&:first-of-type p:before {
						content: "01";
						position: absolute;
						left: -32px;
						font-weight: 600;
					}
					&:last-of-type p:before {
						content: "02";
						position: absolute;
						left: -32px;
						font-weight: 600;
					}
				}
				em {
					display: inline-block;
					margin: 5px 0px 10px 0px;
					font-weight: 300;
				}
			}
		}

		h2.h2 {
			margin: 0 20px;
			font-size: 7rem;
			font-weight: 600;
			grid-row: 3 / span 3;
			grid-column: 2 / span 3;
			position: relative;
			z-index: 9;
			animation: slidein linear;
			animation-timeline: scroll(root);
			text-align: end;
			border-right: 10px solid;
			padding-right: 27px;
			max-height: 400px;
		}
	}
}
