.apploader {
    // background: linear-gradient(180deg, rgba(230, 238, 255, 1) 0%, rgba(246, 235, 255, 1) 100%);

    background-color: var(--gray);

    &_inner {
        @include section_guts;
        max-width: var(--max-page-width);
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: var(--nav-height) repeat(4, 1fr);

        h1 {
            grid-row: 2;
            grid-column: 1 / span 3;
        }
    }
}
