@import "./mixins/mixins.scss";

.fullscreen {
	display: flex;
	justify-content: center;
	align-items: center;
}

.contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	&_inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 90dvw;
        max-width: 800px;
        padding: 5% 10%;
        border-radius: 20px;
        text-align: center;
        background: #ffffff11;
		p {
			font-size: 1.2rem;
			line-height: 25px;
		}
		.contact_btn {
            --height: 60px;
			display: inline-flex;
			justify-content: center;
			align-items: center;
            background: linear-gradient(36deg, #4c1ea3 33%, #cb00f4 66%);
            font-size: 1.5rem;
            margin-top: 40px;

		}
	}
}
