.footer {
  // background: linear-gradient(180deg, #6640ff 0%, #1703ff 100%);
  color: #fff;
  padding: 20px;
  margin: 0 auto;
  position: relative;
  z-index: 9;
  section {
    max-width: var(--1600px);
    margin: 0 auto;
  }
  &_logo {
    display: flex;
    justify-content: flex-end;
  }
  &_content_wrapper {
    margin: 0 auto;
    max-width: var(--max-page-width);
    padding: var(--section-pad);
    display: grid;
    grid-template-columns: 50% 25% 25%;
  }
  .leftgroup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer_links,
  .footer_links ul {
    display: flex;
    flex-direction: column;
  }
  .small_links {
    & > * {
      font-size: var(--12px);
    }
  }
  a {
    display: flex;
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #ffffff;
    font-size: 1.3rem;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      color: var(--deep-purple);
    }
  }
}
.footer_newsletter {
  // max-height: 120px;
  // background: linear-gradient(180deg, #d540ff 0%, #442ed0 100%);
  // overflow: hidden;
  // filter: drop-shadow(2px 4px 10px black);
  // box-shadow: 0px 0px 153px #d540ff;8
  // margin-top: var(--section-top);
  color: var(--light);

  h2 {
    font-size: var(--64px);
    margin-bottom: var(--20px);
  }
  p {
    font-size: var(--18px);
    margin-bottom: var(--20px);
  }
  form {
    #af-body-24915601 {
      display: flex;
    }
  }
}
