@import "./mixins/mixins.scss";

.svg {
	opacity: .2;
	fill: var(--light-fill);
	z-index: 2;
	position: absolute;
}

.shifty {
    position: absolute;
    z-index: 1;
    opacity: var(--opacity);
    top: 0;
    fill: var(--shifty);
    width: 1000px;
}

.home {
	&_inner {
		@include section_guts;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 95px 1fr;

		.left_main_section {
			@include main_grids;
			// grid-template-rows: 1fr max-content 200px max-content 1fr;
			grid-column: 1;
			grid-row: 2;
		}
		.right_main_section {
			@include main_grids;
			grid-column: 2;
			grid-row: 2;
		}
		.center_grid_content {
			grid-row: 2;
		}
		h1, h4, a, img, div{
			z-index: 3;
		}
	}
}
