@import "./mixins/mixins.scss";

.home {
	background: linear-gradient(180deg, #6640ff 0%, #1703ff 220%);

	&_inner {
		@include section_guts;

		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 95px 1fr;

		.left_main_section {
			@include main_grids;
			grid-template-rows: 1fr max-content 200px max-content 1fr;
			grid-column: 1;
			grid-row: 2;
		}
		.right_main_section {
			@include main_grids;
			grid-template-rows: 22% 1fr;
			grid-column: 2;
			grid-row: 2;
			img {
				transform: translateY(-2.5rem);
			}
		}
		.center_grid_content {
			grid-row: 2;
		}
	}
}
