.custom_mouse_pointer {
    position: fixed;
    pointer-events: none;
    font-size: 14px;
    transform: translate(-50%, -50%);
    user-select: none;
    color: #fff; /* Add your custom styles here */
    z-index: 999;
    border: 2px solid #fff;
    width: 15px;
    height:15px;
    border-radius: 15px;
    mix-blend-mode: difference;
    
    &:after {
        content: "Launch Asteroid";
        color: #fff;
        font-size: 12px;
        margin-left:20px;
    }
  }
