.newsletter {
    max-height: 120px;

    &_inner {
        position: relative;
        z-index: 2;
    }

    svg {
        fill: var(--fill);
    }
    
    background: linear-gradient(180deg, #6640ff 0%, #1703ff 100%);
    overflow: hidden;

    .contact_hypno {
        position: absolute;
        z-index: -1;
        opacity: var(--opacity);
    }
    section {
        color: var(--light);
        max-width: 1366px;
        margin: 0 auto;
        height: 120px;
        border-radius: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        text-align: center;

        h2 {
            font-size: 64px;
            margin-bottom: 20px;
        }
        p {
            font-size: 18px;
            margin-bottom: 20px;
        }
        form {
            #af-body-24915601 {
                display: flex;
            }

            input[type="text"] {
                --height: 44px;
                height: var(--height);
                border-radius: calc(var(--height) * 0.5); /* 50% of height */
                padding: 0 20px;
            }
            input[type="submit"] {
                --height: 44px;
                min-width: calc(var(--height) * 2); /* 2x height */
                height: var(--height);
                border-radius: calc(var(--height) * 0.5); /* 50% of height */
                padding: 0 30px;
                margin: 0 10px;
                text-transform: uppercase;
                font-weight: 700;
                background-color: rgb(175, 23, 244);
                color: #fff;
            }
        }
    }
}
