
section.main {
  max-width: var(--max-page-width);
  padding: var(--main-pad);
  padding-bottom: var(--section-pad);
  margin: 0 auto;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 95px 1fr;
 
  section {
    position: relative;
    display: grid;
    grid-template-rows: 20% 1fr 20%;
    grid-row: 2;
    align-items: flex-end;
    
    &:nth-of-type(1) {
      grid-column: 1;
    }
    &:nth-of-type(2) {
      grid-column: 2;
    }
  }
}
