@import "mixins/mixins.scss";
@keyframes rotate {
	0% {
		rotate: 0deg;
	}
	100% {
		rotate: 90deg;
	}
}
.cube {
	position: absolute;
	animation: rotate linear;
	animation-timeline: scroll();
	right: -158px;
	z-index: -1;
	bottom: 53px;
	&2 {
		position: absolute;
		left: -14%;
	}
	&3 {
		position: absolute;
		top: 0;
		right: 36%;
	}
}
.panels {
	background: radial-gradient(circle, rgb(43, 43, 43) 0%, rgb(2, 0, 16) 100%);
	overflow: hidden;
	@include section_guts;
	z-index: 1;

	aside.aside {
		margin: 0 20px;
		text-align: right;
		max-width: 400px;
		position: absolute;
		right: 6px;
		font-size: 2rem;
		filter: drop-shadow(0px 0px 20px black);
	}
	&_inner {
		max-width: var(--max-page-width);
		color: #fff;
		.header {
			margin: 7rem 20px;
			h2 {
				text-align: right;
			}
		}
		.cards {
			top: -330px;
			position: relative;
			display: flex;
			flex-wrap: wrap;
			max-width: 87%;
			.card {
				width: 30%;
				color: #fff;
				padding: 2% 4% 3% 2%;
				line-height: 34px;
				background:linear-gradient(346deg, rgba(111, 110, 110, 0) 0%, rgb(0 0 0 / 70%) 80%);
				border-top-right-radius: 60px;
				border-bottom-left-radius: 0px;
				margin: 20px;

				h2 {
					color: inherit;
					font-size: 1.2rem;
					text-transform: uppercase;
					font-weight: 800;
					margin-bottom: 30px;
					position: relative;
					display: inline-block;
					&:after {
						position: absolute;

						content: "";
						width: 100%;
						height: 16px;
						bottom: -16px;
						left: 0px;
						margin-top: 10px;
						background-image: linear-gradient(
							45deg,
							hsl(240deg 100% 20%) 0%,
							hsl(240, 72%, 27%) 11%,
							hsl(289deg 100% 21%) 22%,
							hsl(315deg 100% 27%) 33%,
							hsl(329deg 100% 36%) 44%,
							hsl(337deg 100% 43%) 55%,
							hsl(357deg 91% 59%) 66%,
							hsl(17deg 100% 59%) 77%,
							hsl(34deg 100% 53%) 89%,
							hsl(45deg 100% 50%) 100%
						);
					}
				}
			}
		}
	}
}
