.slider {
    width: 450px;
    height: 425px;
    overflow-x: scroll;
    scroll-snap-type: x;
    scroll-behavior: smooth;
    svg {
        display: inline-block;
        margin: 20px 0px;
        scroll-snap-align: center;
    }
}
