@keyframes fader {
	0% {
		opacity: 1;
	}

	45% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

@keyframes move {
	0% {
		offset-distance: 0%;
	}
	100% {
		offset-distance: 100%;
	}
}
@keyframes across {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-15vw);
	}
}

@keyframes rise {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-20vw);
	}
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
@keyframes plus {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
@keyframes pluswrapper {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.xxl {
	&_h1 {
		color: #fff;
		font-size: clamp(82px, 14vw, 228px);
		line-height: clamp(82px, 14vw, 228px);
		font-weight: 700;
		filter: drop-shadow(0px 0px 20px #00000055);
		text-transform: uppercase;
		text-align: center;
		position: relative;
		z-index: var(--hero-zindex);
		animation: rise linear;
		animation-timeline: scroll(root block);
		justify-self: center;
		align-self: center;
	}
}
.start {
	z-index: 1;
	display: grid;
	animation: fader linear;
	animation-timeline: scroll(root block);
	background: radial-gradient(circle, rgb(43, 43, 43) 0%, rgb(2, 0, 16) 100%);

	&_inner {
		max-width: 1366px;
		align-self: center;
		justify-self: center;
		display: grid;

		.plus {
			animation: 2400s linear 1s infinite forwards plus;
			transform-origin: center;
			&_wrapper {
				offset-path: path(
					"M 264.981 85.964 C 258.351 85.964 250.459 92.327 244.345 94.7 C 218.965 104.548 190.15 124.891 208.701 153.98 C 221.264 173.681 235.255 194.83 251.849 211.389 C 276.32 235.808 311.485 257.058 325.638 290.014 C 330.403 301.107 324.054 312.101 316.884 320.278 C 301.013 338.377 277.693 351.05 253.099 349.606 C 218.959 347.602 198.967 299.254 202.447 269.733 C 203.383 261.793 203.924 252.922 206.824 245.397 C 210.546 235.742 217.747 227.517 223.709 219.189 C 243.706 191.252 272.009 168.7 289.369 139.004 C 291.842 134.774 293.497 129.702 294.684 124.964 C 301.034 99.621 275.187 86.588 254.975 86.588"
				);
				animation: move 300s infinite alternate ease-in-out;
				position: absolute;
				z-index: 4;
				top: 300px;
				right: 0;
				&_b {
					animation: 400s linear 1s infinite forwards pluswrapper;
					transform-origin: 1px;
					position: absolute;
					z-index: 2;
					top: 0;
					left: 0;
					opacity: 0.7;
					filter: blur(3px);
				}
			}
		}

		.cube {
			transform-origin: center;
			filter: drop-shadow(0px 0px 20px #00000055);
			animation: 40s linear 1s infinite forwards spin;

			&_wrapper {
				animation: linear 1s forwards across;
				opacity: 0.95;
				position: absolute;
				transform-origin: center;
				offset-path: path(
					"M 264.981 85.964 C 258.351 85.964 250.459 92.327 244.345 94.7 C 218.965 104.548 190.15 124.891 208.701 153.98 C 221.264 173.681 235.255 194.83 251.849 211.389 C 276.32 235.808 311.485 257.058 325.638 290.014 C 330.403 301.107 324.054 312.101 316.884 320.278 C 301.013 338.377 277.693 351.05 253.099 349.606 C 218.959 347.602 198.967 299.254 202.447 269.733 C 203.383 261.793 203.924 252.922 206.824 245.397 C 210.546 235.742 217.747 227.517 223.709 219.189 C 243.706 191.252 272.009 168.7 289.369 139.004 C 291.842 134.774 293.497 129.702 294.684 124.964 C 301.034 99.621 275.187 86.588 254.975 86.588"
				);
				animation: move 30s infinite alternate ease-in-out;
			}
		}
	}
}
