.technology {
  position: relative;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    filter: drop-shadow(2px 4px 96px var(--pink));
  }
}

.technologies {
  // position:absolute;
  height: 200px;
  position: relative;
  width: 1024px;
  transform-origin: center center;
}

.tech {
  position: absolute;
  filter: drop-shadow(0px 0px 50px var(--pink));
  background: rgba(68, 0, 255, 0.038);

  width: 128px;
}

.technologies {
}
