.technology {
  position: relative;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    filter: drop-shadow(2px 4px 96px var(--pink));
  }
  & > header {
    z-index: 50;
  }
}

.technologies {
  // position:absolute;
  height: 200px;
  position: relative;
  width: 1024px;
  transform-origin: center center;
}

.tech {
  position: absolute;
  filter: drop-shadow(0px 0px 50px var(--pink));
  background: rgba(68, 0, 255, 0.038);

  width: 128px;
}

.technologies {
}

.slider {
  height: 425px;
}
.techcardwrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  grid-template-areas: "top-left top top-right", "left  middle right", "bottom-left bottom bottom-right";
  & > article {
    &:nth-of-type(1) {
      grid-area: "top-left";
      border-bottom-right-radius: var(--large-radius);
    }
    &:nth-of-type(2) {
      grid-area: "top";
      border-bottom-left-radius: var(--large-radius);
      border-bottom-right-radius: var(--large-radius);
    }
    &:nth-of-type(3) {
      grid-area: "top-right";
      border-bottom-left-radius: var(--large-radius);
    }
    &:nth-of-type(4) {
      grid-area: "left";
      border-top-right-radius: var(--large-radius);
      border-bottom-right-radius: var(--large-radius);
    }
    &:nth-of-type(5) {
      grid-area: "middle";
      border-bottom-left-radius: var(--large-radius);
      border-bottom-right-radius: var(--large-radius);
      border-top-right-radius: var(--large-radius);
      border-top-left-radius: var(--large-radius);
    }
    &:nth-of-type(6) {
      grid-area: "right";
      border-bottom-left-radius: var(--large-radius);
      border-top-left-radius: var(--large-radius);
    }
    &:nth-of-type(7) {
      grid-area: "bottom-left";
      border-top-right-radius: var(--large-radius);
    }
    &:nth-of-type(8) {
      grid-area: "bottom";
      border-top-left-radius: var(--large-radius);
      border-top-right-radius: var(--large-radius);
    }
    &:nth-of-type(9) {
      grid-area: "bottom-right";
      border-top-left-radius: var(--large-radius);
    }
  }
}
.techcard {
  header {
    margin: 0px 0px 20px 0px !important;
  }
  line-height: 1.5rem;
  text-align: justify;
  user-select: none;
  background: var(--glass);
  border-radius: var(--border-radius);
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: grab;
  &:active:hover {
    cursor: grabbing;
  }
}
