@import "mixins/mixins.scss";

.threecards {
	@include section_guts;
	display: flex;
	align-self: center;
	margin-top: var(--section-top);

	h2 {
		font-size: 4rem;
		text-align: center;
	}
	&_inner {
		display: flex;
		// justify-content: space-evenly;
		align-items: center;
		position: relative;
		flex-direction: column;
		.rocket_wrapper {
			width: 45%;
			transform-origin: right center;
			position: absolute;
			bottom: 0;
			left: 0;

			.rocket {
				rotate: -50deg;
			}
		}

		.cards {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin: 40px 0px;

			.card {
				background: #ffffff12;
				padding: 40px;
				border-radius: 20px;
				min-height: 581px;
				img {
					filter: drop-shadow(0px 0px 30px rgba(212, 0, 255, 0.8));
					justify-self: center;
				}
				text-align: center;
				width: 30%;
				display: grid;
				grid-template-rows: 240px 1fr;
				p {
					font-size: 1.2rem;
					line-height: 25px;
					height: 150px;
				}

				&_btn {
					display: inline-flex;
					justify-content: center;
					align-items: center;
					margin: 20px 0px 0px 0px;
				}
			}
		}
	}
}
