.wrapper {
	position: relative;
	z-index: 9;
	background: linear-gradient(36deg, #0a0335 10%, #3f20ad 49%, #cb00f4 97%);
	padding: var(--section-top) 0px;
	max-width: 1600px;
	border-radius: 100px;
	margin: 0 auto;
}
